[zap]
# Set the zap host and port
host = localhost
port = 8080

# Set the ZAP protocol, either HTTP or HTTPS
proto = http

# Force overwrite of sessions. This forces ZAP to start a scan even if another
# scan on the same target is already running.
overwrite = False

# optional target settings, this will be the URL zap attacks
target = https://cloud.fonsmijnen.nl

# Define the urls in scope, by default only the target URL is in scope.
# Multiple URLs can be added by using , between them. Example:
# scope = google.nl, google.com, google.be
scope = http://cloud.fonsmijnen.nl

no_spider =

no_passivescan =

no_activescan =
